* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #121214;
    color: aliceblue;
    font-family: 'Mulish', sans-serif;
    padding: 72px 104px;
    display: grid;
    justify-content: center;
}

header {
    background-color: #121214;

}

header h1 {
    color: #02799D;
    font-size: 56px;
    font-weight: 900;
    line-height: 72px;
}

header p {
    color: #E1E1E6;
    font-size: 32px;
    font-weight: 600;
    line-height: normal;
    
}

main {
    margin-top: 63px;
    background-color: #121214;

    display: grid;

    grid-template-columns: repeat(3, 360px);
    gap: 48px 60px;

}

.card {
    border: 2px solid var #323238;
    background: #202024;
    border-radius: 8px;
    overflow: hidden;
}

.card h2 {
    color: #E1E1E6;
    font-weight: 900;
    font-size: 35px;
    padding: 24px 32px 0;


}

.card p {
    color: #C4C4CC;
    font-size: 18px;
    font-weight: 600;
    padding: 24px 32px 32px;
}