* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 62.5%;
    /* 10px */
}

body {
    height: 100vh;
    background-color: #121214;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 80%;
    color: aliceblue;
    font-family: 'Mulish', sans-serif;
}

header {
    background-color: #121214;

}

#titulo_pagina {
    margin: 73px 0 0 470px;
}

#titulo_pagina h1 {
    font-size: 5.8rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    color: #02799D;
}

#titulo_pagina p {
font-size: 3.2rem;
font-style: normal;
font-weight: 600;
line-height: normal;
color: #E1E1E6;
}

main {
    background-color: #121214;
    display: grid;
    grid-template-areas:
        "card1 card2 card3"
        "card4 card5 card6";
    align-content: center;
    justify-content: center;
    gap: 44px 60px;

}

.card {
    height: 44.0rem;
    width: 36.0rem;
    border: 1px solid white;

}